# Python virtual environment
.venv/
venv/

# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo

# Django stuff
db.sqlite3
*.log# Ignore media and large assets
django_Web/frontend/src/assets/wallpaper/
django_Web/frontend/src/assets/CloudMusic/
django_Web/frontend/src/assets/Emoji/
*.jpg
*.jpeg
*.png
*.webp
*.gif
*.flac
*.mp3
*.wav
*.rar
*.zip
*.7z
*.bak
db.sqlite3
