@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: #000;
  color: #ede9fe;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
}